@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900|Roboto:100,200,300,400,500,600,700,800,900');

/*-------------------------------------------------bg-color*/

.bg-section {
    background-color: #cfcfcf;
}

.bg-albums {
    background-color: #cfcfcf;
}

.bg-footer {
    background-color: #212121;
}

.bg-jumbotron {
    background-color: #fafafa;
}

/*-------------------------------------------------h / p style*/

.h1-main {
    font-family: "Work+Sans", serif;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}

.h1-second {
    font-family: "Work+Sans", serif;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize; 
}

.h1-footer {
    font-family: "Work+Sans", serif;
    font-weight: 500;
    color: #fafafa;
    text-align: center;
    text-transform: capitalize;
}

.h3-main {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #212121;
    text-align: center;
}

.h3-video {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.h3-show {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.p-left {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #212121;
    text-align: left;
}

.p-center {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #212121;
    text-align: center;
}

.p-button {
    text-align: center;
}


/*-------------------------------------------------Header*/

html {
    height: 100%;
}

body {
    height: 100%;
}

.container-header-home {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("../images/background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
}

.container-header-pages {
    margin: 0;
    padding: 0;
    height: 50%;
    background-image: url("https://i.imgur.com/BDd9Pob.jpg?1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
   
}

/*Nav----------------------------------------------------*/

.navbar {
    background-color: #212121;
    border: none;
}

.navbar-brand {
    font-family: "Work+Sans", serif;
    font-weight: 900;
    text-transform: uppercase;
}


.navbar .navbar-nav {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
    
.navbar-default .navbar-nav li a {
    
    font-family: "Work+Sans", serif;
    font-weight: 400;
    font-size: 18px;
    color: #fafafa;
}

.navbar-default .navbar-nav li a:hover {
    font-family: "Work+Sans", serif;
    font-weight: 400;
    font-size: 18px;
    color: #b84f42;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.navbar-default .navbar-nav .active a {
    background-color: #b84f42;
    color: #fafafa;
}

.navbar-default .navbar-nav .active a:hover {
    background-color: #b84f42;
    color: #fafafa;
}

.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-property: transform;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.hvr-underline-reveal:before{
    background: #b84f42;
}


.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fafafa;
}

.navbar-default .navbar-brand {
    color: #fafafa;
}

.navbar-default .navbar-brand:hover {
    color: #b84f42;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

/*-------------------------------------------------Section home*/

/*Album section-------------------------------------------------*/

.album-cover {
    max-width: 100%;
    height: auto;
    text-align: center;
}


/*welcome-------------------------------------------------*/

.welcome-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.player {
    width: 100%;
}

.player-block {
    float: left;
}

/*Jumbotron---------------------------------------------------*/

.jumbotron {
    font-family: "Work+Sans", serif;
    margin: 10px;
    padding: 10px 0;
}

.jumbotron .p-left {
    margin-bottom: 0;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.jumbotron .p-right {
    margin: 0;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    font-style: italic;
}

.jumbotron .p-center {
    color: #212121;
    font-size: 16px;
}

.jumbotron .album-cover {
    text-align: center;
    width: 100%;
    height: auto;
}

.btn-primary {
    margin-top: 20px;
    font-family: "work+Sans", serif;
    font-weight: 700;
    background-color: #b84f42;
    color: #fafafa;
    border: none;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: #83201b;
    color: #fafafa;
}

/*shows---------------------------------------------------*/



/*Suscribe form---------------------------------------------------*/

.form-group {
    margin: auto;
    display: block;
    width: 50%;
}

form {
    text-align: center;
}

.subscribe-msg {
    font-size: 18px;
    text-align: center;
    background-color: #83201b;
    color: #fafafa;
}

/*-------------------------------------------------Footer*/

.social-media {
    text-align: center;
}

.social-media a {
    display: inline-block;
    color: #fafafa;
    font-size: 40px;
    margin: 0 10px 10px 10px;
    padding: 0;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.social-media a:hover {
    color: #b84f42;
}

/*-------------------------------------------------Pages*/

/*Band-------------------------------------------------*/

.band-page {
    padding: 15px;
}

.biography {
    background-color: #fafafa;
}

.top-left {
    float: left;
    margin: 0 15px 10px 0;
}

.members img {
    width: 100%;
}

.members p {
    font-family: "Work+Sans", serif;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}

/*Music-------------------------------------------------*/

.music-block {
    margin: 10px 0;
}

.p-button-music {
    margin-bottom: 20px;
}

/*Video-------------------------------------------------*/

.container-video {
    background-color: #fafafa;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

/*Shows-------------------------------------------------*/

.show-page {
    margin-top: 20px;
}

/*Photos-------------------------------------------------*/

.photo-box {
    margin-bottom: 30px;
}

/*Contact-------------------------------------------------*/

.contact-form {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 5px;
    text-align: center;
}

.req {
    font-weight: 200;
    font-size: 10px;
    color: #b84f42;
}

.opt {
  font-weight: 200;
  font-size: 10px;  
}

/*-------------------------------------------------Media*/

@media screen and (max-width: 667px) {
    .navbar {
        background-color: transparent;
        margin: 0;
    }
    .form-group {
        width: 100%;
    }
    .album-cover img {
        width: 100%;
        height: auto;
    }
    .albums .btn-lg {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .bg-img {
        margin: 0;
        padding: 0;
        height: auto;
        background-image: none;
        background-color: #212121;
    }
    .player {
        width: 100%;
    }
    .top-left {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .album-section {
        padding-right: 45px;
    }
    .container-fluid .jumbotron {
        margin-right: auto;
        margin-left: auto;
    }
        
}

@media screen and (min-width: 992px) {
    .photos {
        margin-bottom: 20px;
    }
}
